@import "../../_globalColor";

.contact-div-main {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: space-between; /* Space between contact info and image */
  align-items: center;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 65px;
  font-weight: 400;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
  flex: 2; /* Take up more space */
}

.contact-margin-top {
  margin-top: 4rem;
}

/* Styling for circular image */
.profile-image {
  width: 300px; /* Increase size */
  height: 300px; /* Increase size */
  border-radius: 50%; /* Makes the image circular */
  border: 5px solid #ef7f0e; /* Optional: Adds an orange border */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow */
  object-fit: cover; /* Ensures the image fits within the circle */
}

/* Styling for image container */
.contact-image-div {
  display: flex;
  justify-content: flex-end; /* Align image to the right */
  align-items: center;
  padding-left: 2rem;
  flex: 1; /* Take up less space */
}

/* Media Query */
@media (max-width: 1380px), (max-width: 768px) {
  .contact-div-main {
    flex-direction: column; /* Stack contact info and image vertically on smaller screens */
    align-items: center;
  }

  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div {
    margin-top: 1rem; /* Add some spacing when stacked */
    justify-content: center; /* Center the image on smaller screens */
  }

  .profile-image {
    width: 200px; /* Adjust size for smaller screens */
    height: 200px;
  }
}
